.node-webform,
.node-p-gina-de-contacto.view-mode-full {
  h2 {
    display: none;
  }
	header {
	 display: none;
	}
  .form-actions {
    text-align: center;
    margin-top: 30px;
    button {
      width: 120px;
      background-color: @menu-background-color;
      color: #fff;
      &:hover {
        background-color: @menu-hover-color;
      }
    }
  }
}
.node-type-p-gina-de-contacto {
  @media (max-width: @screen-xs-max) {
    h1.page-header {
      margin-top: 40px;
    }
    .region.region-content {
      margin-top: 0;
    }
  }
}
.field-name-field-ubicacion {
  .field-item {
    position: relative;
    padding-bottom: 56.25%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
  }
  .field-item iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
  .field-label {
    font-size: 18px;
    margin-top: 20px;
  }
}