@font-face {
  font-family: 'titillium_webregular';
  src: url('../fonts/titilliumweb-regular-webfont.eot');
  src: url('../fonts/titilliumweb-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/titilliumweb-regular-webfont.woff2') format('woff2'),
       url('../fonts/titilliumweb-regular-webfont.woff') format('woff'),
       url('../fonts/titilliumweb-regular-webfont.ttf') format('truetype'),
       url('../fonts/titilliumweb-regular-webfont.svg#titillium_webregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-family-titillium:'titillium_webregular';
@font-base: @font-family-titillium;