/**
 * Variable Overrides.
 *
 * Modify this file to override the Bootstrap Framework variables. You can copy
 * these variables directly from ../bootstrap/less/variables.less to this file.
 */

// Set the proper directory for the Bootstrap Glyphicon font.
@icon-font-path: '../bootstrap/fonts/';

@menu-background-color:       #6E5140;
@menu-hover-color:            #341F15;
@submenu-hover-color:         #533C2E;
@submenu-background-color:    #CBC4C0;